/* --- RESET & VARIÁVEIS --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* --- CORES DA MARCA --- */
    --cor-primaria: #DC2626;          
    --cor-primaria-hover: #B91C1C;    
    --cor-secundaria: #FBBF24;        
    --cor-secundaria-hover: #F59E0B;  
    --cor-destaque: #991B1B;          

    /* --- FUNDOS --- */
    --cor-fundo: #1f1611;             
    --cor-superficie: #2A1F19;        
    --cor-card: #302319;
    --cor-card-hover: #3A2B21;        

    /* --- TEXTOS --- */
    --cor-texto: #FAF3E7;             
    --cor-texto-suave: #C4B0A0;       
    --cor-texto-claro: #ddd4cd;

    /* --- BORDAS E EFEITOS --- */
    --cor-borda: #534439;             
    --sombra-suave: 0 4px 12px rgba(0, 0, 0, 0.08);
    --sombra-media: 0 8px 24px rgba(0, 0, 0, 0.12);
    --sombra-forte: 0 12px 32px rgba(220, 38, 38, 0.466);  

    /* --- ANIMAÇÕES --- */
    --transicao: all 0.32s ease;

    /* --- FONTES --- */
    --fonte-bebas:    "Bebas Neue", sans-serif;
    --fonte-oswald:   "Oswald", sans-serif;
    --fonte-righteous: "Righteous", sans-serif;

    --fonte-titulo: var(--fonte-righteous);

    /* --- FEEDBACK --- */
    --cor-sucesso: #16A34A;           
    --cor-erro: #DC2626;              
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--fonte-titulo);
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

button {
    cursor: pointer;
    font-family: inherit;
    border: none;
    background: none;
}

ul {
    list-style: none;
}

/* --- TIPOGRAFIA --- */
h1, 
h2, 
h3, 
h4 {
    font-weight: 700;
    line-height: 1.2;
}

h1 { 
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 900;
}

h2 { 
    font-size: 1.75rem; 
}

h3 { 
    font-size: 1.25rem; 
}

/* --- UTILITÁRIOS --- */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}
